<!DOCTYPE html>
<html>
<head>
	<title>Login Page</title>
	<style type="text/css">
	.error{
		color: red;
	}
	</style>
</head>
<body>
	<h1>Login</h1>
	<form method = "post">
		<table>
			<tr>
				<td>
					Username
				</td>
				<td>
					<input type="text" name = "username" value = {{username}}>
				</td>
				<td class = "error">
					{{error1}}
				</td>
			</tr>
			<tr>
				<td>
					Password
				</td>
				<td>
					<input type = "password" name = "password" value = "">
				</td>
				<td class = "error">
					{{error2}}
				</td>
			</tr>
			<tr>
				<td><input type = "submit"></td>
			</tr>
		</table>
	</form>

</body>
</html>