<!DOCTYPE html>
<html>
<head>
	<title>Main Page</title>
	<style>
		*{
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			-ms-box-sizing: border-box;
			box-sizing: border-box;	
		}



		.grid {
		    margin: 0 auto;
		    max-width: 1200px;
		    width: 100%;
		    display: flex;
		}

		.row {
			display: flex;
			flex-wrap: wrap;
			width: 100%;
			justify-content: space-between;
			background: #bbb;
		}
	</style>
	<link rel="stylesheet" type="text/css" href="bootstrap.min.css">
</head>
<body>
	<div class = "grid">
		<div class = "row">
			<div><a href = "/signup">Signup</a></div>
			{% if username %}
			<div><a href = "/edit">Edit</a></div>
			<div><a href = "/logout">Logout</a></div>
			<div>{{username}}</div>
			{% else %}
			<div><a href = "/login">Login</a></div>
			{% endif %}
			<div><a href ="/history">History</a></div>
			
		</div>
	</div>
	
	<br><br><br>
	<div class = "container" type = "html">
	<h1>"WELCOME !!!!!! FELLAS "</h1>
	<br><br>
	<h4>Here you can write an html code and can see the result in the browser itself.....(you can only the body also ot need for html declaration and head ....)
	</div>
</body>
</html>